{% extends 'base.html' %}


{% block contenido %}
    <h2>Restablecer contraseña</h2>
    <form action="{% url 'usuarios:password_reset' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Enviar correo electrónico</button>
    </form>
<center>
    <div class="container" style="margin-top: 370px;">
        <div class="messages">
            {% for message in messages %}
                <table {% if messege.tags %}  class = " {{ message.tags }} "{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>

    </div>
</center>
{% endblock contenido %}

