{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="container mt-5">
  <h2>Formulario de Contacto</h2>
  <form action="#" method="post">
    {% csrf_token %}
      <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
      </div>
      <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
          <label for="numero_tel" class="form-label">Número de Teléfono:</label>
          <input type="numero_tel" class="form-control" id="numero_tel" name="numero_tel" required>
      </div>
        <div class="mb-3">
            <label for="asunto" class="form-label">Asunto:</label>
            <input type="text" class="form-control" id="nombre" name="asunto" required>
        </div>
      <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje:</label>
          <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
      </div>
      <!-- Botón de Enviar -->
      <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

</div>
{% endblock contenido %}
  