{% extends 'base.html' %}

{% load static %}

{% block contenido %}
        <h3>ACERCA DE NOSOTROS</h3>
        <h5>Equipo de trabajo</h5>
        <h5>Comisión Nro. 7 - Grupo Nro. 6</h5>
        <p>El blog que presentamos corresponde a publicación de noticias, eventos y descripción de lugares de nuestra provincia del Chaco que merecen un espacio en internet para ser compartidos para el conocimiento de las personas que aman el Turismo y quieran visitar nuestra región.</p>
        <p>Nuestro país tiene muy bellos lugares con paisajes exhuberantes y la calidez del poblador nativo de nuestras tierras.</p>
        <p>Por eso queremos que el blog sirva para fomentar el turismo en la zona, dando a conocer los distintos servicios que las comunidades ponen a disposición de los posibles turistas que quieran  arribar a nuestras tierras.</p>
        <p>Entendemos que los turistas podrán volcar sus experiencias en este espacio que podrá ser aprovechado para retroalimentar las inveriones en materia de turismo y así, comentando sus experiencias sobre los distintos espacios de visita que posee la provincia y zonas de influencia puedn servir de marco para mejorar los servicios y brindar las comodidades adecuadas a los viajeros.</p>
        <p>El contexto de información turística siempre estará moderada por los colaboradores que podrán mucho empeño para ir generando las categorías de información específicas para brindar la posibilidad de filtrar y ordenar los temas más interesantes sobre ls publicaciones para que el visitante del blog, pueda visualizar de la mejor manera lo que le interesa.</p>
        <p>Creemos que es un aporte al esfuerzo mancomunado de un provincia que quiere ser visible con el apoyo de las tecnologías de la información válidos en estos tiempos.</p>
        <p></p>
        <p>Bienvenidos a la Provincia del Chaco, República Argentina</p>
        <h5>PARTICIPANTES</h5>
        <ul>
            <li>Alan Aquino</li>
            <li>Zahir Ludueño</li>
            <li>Carlos Barboza</li>
        </ul>
{% endblock contenido %}
    